
@{
    ViewBag.Title = "Index";

    Layout = null;
}



<div class="layui-upload-drag" id="divFileUpload">
    <i class="layui-icon"></i>
    <p>点击上传，或将文件拖拽到此处</p>
    <div class="layui-hide" id="uploadDemoView">
        <hr>
    
        <button  id="btnDeleteFile" class="layui-btn layui-btn-primary">删除</button>
    </div>
</div>



<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('upload', function () {
        var $ = layui.jquery,
        upload = layui.upload;

        initFile();
        //拖拽上传
        upload.render({
            elem: '#divFileUpload'
            ,url: '@Url.Content("~/Api/Sys/Upload/UploadFile")'//改成您自己的上传接口,
            ,accept:"file"
            , done: function (res) {
                debugger
                if (res.IsSuccess) {
                    $("#AttachmentUniqueId").val(res.Data);
                    layui.$('#uploadDemoView').removeClass('layui-hide');

                } else {
                    layer.msg('上传失败！失败原因:' + res.Message);
                }
            }
        });


        $("#btnDeleteFile").click(function () {
            var uniqueId = $("#AttachmentUniqueId").val();
 
              $.ajax({
                        url: '@Url.Content("~/api/Sys/Upload/Delete")?uniqueId=' + uniqueId ,
                        type: "get",
                         success: function (result) {
                             if (result.IsSuccess) {
                                 debugger
                              $("#AttachmentUniqueId").val("");
                              initFile();
                           
                          } else {
                              layer.msg(result.Message);
                          }
                    }
                });
            return false;
        });


        function initFile() {
            if ($("#AttachmentUniqueId").val() !="") {
               $('#uploadDemoView').removeClass('layui-hide');
            } else {
                $('#uploadDemoView').addClass('layui-hide');
            }
           
        }


    

    });
</script>
