
@{
    ViewBag.Title = "OperationFunctionTree";
    Layout = null;
}

<div id="operationFunctionTree"></div>


<script>

    layui.use(['tree'], function () {
        var tree = layui.tree;
        var operationUnqiueId = "@ViewBag.UniqueId";
        var selectedFunctionArray = [];


        var functionTree = "";
             $.ajax({
                 url: '@Url.Content("~/api/Sys/Function/GetFunctionTreeByOperationUniqueId?operationUnqiueId=")' + operationUnqiueId,
                  type: "get",
                  dataType: "json",
                  headers: {
                      "Content-Type": "application/json",
                      "X-HTTP-Method-Override": "POST"
                 },
                 success: function (data) {
                      functionTree = tree.render({
                         elem: '#operationFunctionTree' //默认是点击节点可进行收缩
                         , data: data
                         , showCheckbox: true
                     });

                    }
                });




   




        function getChecked() {
            var checkedData = functionTree.getChecked(); //获取选中节点的数据


            for (var i = 0; i < checkedData.length; i++) {
                getData(checkedData[i]);
            }

            var data = { "OperationUnqiueId": operationUnqiueId, "FunctionList": selectedFunctionArray}
             $.ajax({
               url: '@Url.Content("~/api/Sys/Operation/AddOperationFunction")'  ,
               type: "post",
               data:data,
               success: function (result) {
                   if (result.IsSuccess) {
                      layer.msg('保存成功');
                  } else {
                    layer.msg(result.Message);
                }
               }
             });






        }

        $('#btnFunctionOperationSave').unbind('click');
        $("#btnFunctionOperationSave").click(function () {
            getChecked();
        });

        ///递归查询获取数据
        function getData(data) {
            selectedFunctionArray.push(data.id);
            if (data.children) {
                for (var i = 0; i < data.children.length; i++) {
                    getData(data.children[i]);
                }
            }
        }
       


        
 
    });


</script>

