
@{
    ViewBag.Title = "Tree";
    Layout = null;
}

<div id="sysCodeTree"></div>

<script type="text/javascript">

    $(function () {
        //一般data从后台返回，调用这个方法显示视图
        $('#sysCodeTree').jstree({
            'plugins': ["search", "themes", "types", "state", "line", "contextmenu"], 	//包含样式，选择框，图片等
            'types': {
                'default': {
                    'icon': true // 默认图标,可以写路径名，但是必须将themes的icons打开，否则没有地方展示图标
                },
            },
            "contextmenu": {
                select_node: false,
                show_at_node: true,
                items: {
                    "新增": {
                        "label": "新增",
                        "icon": "layui-icon layui-icon-add-1",
                        "action": function (data) {
                            var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                            var id = obj.id;
                            debugger
                            Add(id);



                        }
                    },
                    "修改": {
                        "label": "修改",
                        "icon": "layui-icon layui-icon-edit",
                        "action": function (data) {
                            var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                            var id = obj.id;
                            Edit(id);

                        }
                    },
                    "删除": {
                        "label": "删除",
                        "icon": "layui-icon layui-icon-delete",
                        "action": function (data) {
                            var inst = $.jstree.reference(data.reference),
                                obj = inst.get_node(data.reference);
                            var id = obj.id;
                            Delete(id);

                        }
                    }
                }
            },

            'core': {	//core主要功能是控制树的形状，单选多选等等
                'data': function (obj, callback) {
                    $.ajax({
                        type: "post",
                        url: '@Url.Content("~/Api/Sys/SysCode/InitTree")',
                        dataType: "json",
                        success: function (data) {

                            if (data) {
                                callback.call(this, data);
                            }
                        }
                    });
                },
                'themes': {
                    "icons": true,	//默认图标
                    "theme": "classic",
                    "dots": true,
                    "stripes": false,	//增加条纹
                },	//关闭文件夹样式
                'dblclick_toggle': true,   //允许tree的双击展开,默认是true
                "multiple": false, // 单选
                "check_callback": true,
            }
        }
        );

        $('#sysCodeTree').bind("activate_node.jstree", function (obj, e) {

            debugger;
            var currentNode = e.node;
            var uniqueId = currentNode.id;
            sysCodeUniqueId = uniqueId;
            RefreshSysCodeTable();
        });
    });


</script>


